<p id="notice"><%= notice %></p>

<h1>Order Maps</h1>

<table>
  <thead>
    <tr>
      <th>Words</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_maps.each do |order_map| %>
      <tr>
        <td><%= order_map.words %></td>
        <td><%= link_to 'Show', order_map %></td>
        <td><%= link_to 'Edit', edit_order_map_path(order_map) %></td>
        <td><%= link_to 'Destroy', order_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Map', new_order_map_path %>





<h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGKiP0NgHDEILkibwRA_0nvVePrjuMgiE&callback=initMap&libraries=&v=weekly"
      async
    ></script>